*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    padding: 20px;  
}
.container div{
    margin-bottom: 1px;
    background-color: green;
    min-height: 6%;;
}
.box1{
    display: flex;
    background-color: white;
}
#right{
  width: 50%;
  background-color: red;
}

#left{
  width: 50%;
  background-color:blue;
}

.box2{
    display: flex;
}

#sl{
width: 92%;
}
#sr{
width: 8%;
background-color: blue;

}