*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #innerContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #box1 {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: ease-in-out 1s;
  }
  #box1:hover,#box2:hover,#box3:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 5px black inset;
  }
  #box2 {
    width: 100px;
    height: 100px;
    background-color: yellow;
    transition: ease-in-out 1s;
  }
  #box3 {
    width: 100px;
    height: 100px;
    background-color: green;
    transition: ease-in-out 1s;
  }