*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
table {
    width: 70%;
    border-collapse: collapse;
    font-style: italic;
}
th, td {
    padding: 10px;
    border: 2px solid black;
   
}
.first{
    text-align: center;
    text-decoration: underline;
    font-weight: 600;
    font-style: normal;
}
.right{
    text-align: right;
    font-style: normal;
}
.italicBold{
    font-weight: 700;
}
.bold{
    font-weight: 700;
    font-style: normal;
}

a{
    font-size: larger;
    font-weight: bolder;
    margin-top: 10px;
    color: blue;
}