*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: WHITE;
}
body{
    background-image: url("https://th.bing.com/th/id/OIP._utBT8RPrDZsqAThxsjDYwHaFv?rs=1&pid=ImgDetMain");
    /* background-color: rgba(61, 61, 131, 0.831); */
    background-size: cover;  
}
.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    overflow: hidden;
}
.head{
    color: rgb(255 255 255 / 58%);
    letter-spacing: 5px;
    word-spacing:  4px;
}
.container h1{
    display: flex;
    margin-top: 4%;
    flex-direction: column;
    align-items: center;
    letter-spacing: 3px;
    font-family: "Raleway";
    font-size:2.4rem
}

.link{
    BACKGROUND: #e0d4c4;
    padding: 1%;
    font-size: small;
    letter-spacing: 2px;
    color: blue;
}

.modal{
    background-color: rgb(61, 61, 131);
    display: flex;
    border-radius: 3%;
    width: 50vw;
    height: 45vh;
    padding: 2%;
    margin-top: 2%;
    box-shadow: 0px 1px 5px 1px black;
    position: absolute;
    top: 8%;
}
.phone{
    width: 40vw;
}
.container2{
    width: 100vw;
    display: flex;
    justify-content: center;
}

@media(max-width:710px){
    .head{
        letter-spacing: 1px;
        word-spacing:  1px;
        font-size: 0.9rem;
        text-align: center;
    } 
    .container h1{
        margin-top: 2%;
        letter-spacing: 5px;
        font-family: "Raleway";
        font-size:1rem;
        text-align: center;
    }

    .pre{
        margin: auto;
        overflow-x: auto;
        white-space: pre-wrap; /* Wrap long lines */
        word-wrap: break-word; /* Break long words */
        padding: 5px;
    }
    .phone{
        width: 50vw;
    }
    .modal{
        width: 70vw;
        height: 56vh;
    }
    .link{
        
        font-size: 3vw;
        letter-spacing: 1px;
        color: blue;

    }
}
@media (max-width:530px) {
    .phone{
        width: 70vw;
    }
    .modal{
        width: 45vw;
    height: 60vh;
    font-size: 3vw;
    padding: 0;
    background: transparent;
    }
}