<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Style.css">
</head>
<body>
    <div class="container">
       <p class="head">HTML ASSIGNMENT FOR STUDENTS WITH CODE</p> 
       <h1>HTML Practical Assignment <span>Services</span></h1>
       <div style="max-width: 100vw;" class="link">WWW.UDAIPURWEBDESIGNER.COM</div>
       <div class="container2" style="position: relative;">
        <img class="phone"  src="https://www.transparentpng.com/thumb/iphone/VA9fVC--black-mobile-iphone-png-phone-call-phone-brand-phone-models-transparent-phone.png" alt="">
        <div class="modal">
            <pre class="pre" style="width: 90%;font-size:120%;" >
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;title&gt;Page Title&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;h1&gt;This is a Heading&lt;/h&gt;
&lt;p&gt;This is a Paragarph&lt;/p&gt;
&lt;Body&gt;
&lt;Html&gt;
            </pre>

            <img class="modalImage" style="height:30%;width:20% ;" src="https://static.vecteezy.com/system/resources/previews/022/692/001/original/3d-file-format-data-icon-illustration-png.png" alt="">   
            </div>
       </div>
       

    </div>
    <script src="./Script.js"></script>
</body>
</html>



