<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN PAGE</title>
    <link rel="stylesheet" href="Style.css"/>
</head>
<body>
    <div id="container">
        <h1 id="login">PLEASE LOGIN</h1>
        <form action="/login" method="post" >
          <label for="name">Name</label>
          <input type="text" name="userName" id="userName"/>
          <label for="password">Password</label>
          <input type="text" name="userPassword" id="userPassword"/>
          <button type="submit">LOGIN</button>
          <p>Don't have Accont <a href="signup">Please Signup</a></p>   
        </form>
    </div>

    <script>

    </script>
    
</body>
</html>