<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPDATE</title>
</head>
<body>
    <div id="container">
        <h1>PLEASE SIGNUP</h1>
        <form action="/updateUser/<%=userUpdate._id%>" method="post">
          <label for="name">Name</label>
          <input type="text" name="userName" id="userName" value="<%=userUpdate.name%>"/>
          <label for="name">E-Mail</label>
          <input type="text" name="userEmail" id="userEmail" value="<%=userUpdate.email%>"/>
          <button type="submit">UPDATE</button>   
        </form>
    </div>
    
</body>
</html>